.first {
    background-color: rgb(224, 157, 2);
    display: grid;
    /*Add 4 grid-template-rows and 4 grid-template-columns*/
    grid-template-rows: 100px 150px 150px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.child {
    margin: 0;
}

.one   { 
    grid-column-start: 1;
    grid-column-end: 3;   
    grid-row: 1 / 2; 
    background-color: tomato; 
}

.two   { 
    /*Spans means it cover x positions in grid*/
    grid-column: 3 / span 2;     
    grid-row: 1 / 2;
    background-color: gold; 
}

.three {  
    grid-column: 1 / 2;     
    grid-row: 2 / span 2;
    background-color: mediumseagreen; 
}

.four  { 
    grid-column: 2 / 4;     
    grid-row: 2 / 3;
    background-color: hotpink; 
}

.five  { 
    grid-column: 4 / 5;     
    grid-row: 2 / 4;
    background-color: royalblue; 
}

.six   { 
    grid-column: 2 / 3;     
    grid-row: 3 / 4;
    background-color: orchid; 
}

.seven { 
    grid-column: 3 / 4;     
    grid-row: 3 / 4;
    background-color: turquoise; 
}

.eight { 
    grid-column: 1 / 4;     
    grid-row: 4 / 5;
    background-color: coral; 
}

.nine  {  
    grid-column: 4 / 5;     
    grid-row: 4 / 5;
    background-color: slateblue; 
}